.arrow-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* DownArrow.css */

.arrow-icon {
  font-size: 6rem; /* Adjust the size as needed */
  color: #111; /* Adjust the color as needed */
  animation: bounce 2s infinite; /* Optional: Add bounce animation */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
