/* styles.css */

.background {
  background-color: #eeeeee;
}

.flex-container {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.text-style {
  font-weight: 600;
  text-transform: uppercase;
  color: #333; /* Adjust text color for visibility */
}

.carousel-section {
  position: relative;
  height: 300vh;
  background-color: #eeeeee;
}

.sticky-container {
  position: sticky;
  top: 0; /* Add top to ensure stickiness */
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  background-color: #333;
}

.card-container {
  display: flex;
  gap: 4px;
}

.card {
  position: relative;
  height: 800px;
  width: 800px;
  overflow: hidden;
  background-color: #eeeeee;
  font-family: var(--font-family);
}

.card-image {
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: transform 0.3s;
}

.card-image:hover {
  transform: scale(1.1);
}

.card-text {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease; /* Add transition for smoother effect */
  backdrop-filter: blur(10px); /* Apply blur effect to the text container */
}

.card:hover .card-text {
  opacity: 1; /* Show the text on hover */
}

.card-title {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  padding: 32px;
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  backdrop-filter: blur(20px);
}

.involvement-header {
  padding-bottom: 50px; /* Add bottom padding */
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  font-family: var(--font-family);
  font-size: 50px; /* Set the font size */
  line-height: 1.5; /* Set the line height for better readability */
  color: #333; /* Set the text color */
  margin: 0; /* Remove default margin from paragraphs */
  padding-left: 75px; /* Add left padding to the first paragraph */
  text-align: left;
  text-transform: uppercase;
}
