body::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari, etc.) */
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../Assets/debo_design.png") center/cover;
}

.hero-content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 40%;
  font-family: var(--font-family);
  color: white;
  font-size: 100px;
}

.hero-content h1 {
  padding: 0;
  font-size: 300px;
  font-weight: 400;
  animation: move-left 20s linear infinite; /* Adjust duration as needed */
  white-space: nowrap; /* Prevent text from wrapping */
}

@keyframes move-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-location {
  left: 0; /* Position on the far left */
  transform: translateY(-50%);
  width: 300px; /* Adjust width as needed */
  padding: 20px; /* Add padding for content */
  background-color: #222831; /* Black background */
  color: white; /* White text color */
  border-top-right-radius: 50px; /* Curved top right edge */
  border-bottom-right-radius: 50px; /* Curved bottom right edge */
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
}

.hero-location p {
  font-size: 25px; /* Example font size */
  margin-left: 10px; /* Add margin to the left */
  text-align: left;
  padding: 5px 0; /* Adjust padding */
}

.icon-wrapper {
  display: inline-block;
  width: 80px; /* Set the width of the circle */
  height: 80px; /* Set the height of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: #b4b4b8; /* Grey background */
  margin-right: 10px; /* Add some space between the icon and the text */
  display: flex; /* Center the icon vertically */
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent shrinking */
}

.fa-icon {
  animation: rotate 5s linear infinite; /* Rotate animation */
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.about-content {
  padding-top: 5%; /* Add top padding */
  padding-bottom: 50px; /* Add bottom padding */
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.about-text {
  flex: 1; /* Allow each text box to grow and shrink to fill available space */
  padding: 20px; /* Add padding to each text box */
  padding-left: 10%;
  padding-right: 5%;
  text-align: center; /* Center align the text */
}

.about-text-2 {
  display: flex; /* Use flexbox to center content vertically and horizontally */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center content vertically */
  align-items: left; /* Center content horizontally */
  flex: 1; /* Allow each text box to grow and shrink to fill available space */
  padding: 20px; /* Add padding to each text box */
  text-align: center; /* Center align the text */
  padding-right: 10%;
}

.first-paragraph {
  font-family: var(--font-family);
  font-size: 50px; /* Set the font size */
  line-height: 1.5; /* Set the line height for better readability */
  color: #333; /* Set the text color */
  margin: 0; /* Remove default margin from paragraphs */
  padding-left: 75px; /* Add left padding to the first paragraph */
  text-align: left;
}

.second-paragraph {
  font-family: var(--font-family);
  font-size: 30px; /* Set the font size */
  line-height: 1.5; /* Set the line height for better readability */
  color: #333; /* Set the text color */
  margin: 0; /* Remove default margin from paragraphs */
  text-align: left;
  padding-bottom: 10%;
}

.button {
  width: 200px; /* Set the width of the circle */
  height: 200px; /* Set the height of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: #151515; /* Set button background color */
  color: white; /* Set button text color */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: flex; /* Center the content vertically and horizontally */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Add transition effect */
  font-size: 20px;
}

.button:hover {
  background-color: #76abae; /* Change button background color on hover */
}

.section-divider {
  width: 80%; /* Adjust the width of the line break */
  margin: 50px auto; /* Adjust top and bottom margin to position the line */
  padding: 0 10%; /* Adjust the padding to shorten the line evenly on both sides */
  border: none;
  border-top: 2px solid #ccc;
}

.projects-content {
  padding-bottom: 50px; /* Add bottom padding */
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.projects-heading {
  font-family: var(--font-family);
  font-size: 50px; /* Set the font size */
  line-height: 1.5; /* Set the line height for better readability */
  color: #333; /* Set the text color */
  margin: 0; /* Remove default margin from paragraphs */
  padding-left: 75px; /* Add left padding to the first paragraph */
  text-align: left;
  text-transform: uppercase;
}

.exponent {
  font-size: 0.6em; /* Adjust the size of the exponent */
  vertical-align: super; /* Align the exponent as superscript */
}
