body::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari, etc.) */
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../Assets/debo_design.png") center/cover;
}

.hero-content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 40%;
  font-family: var(--font-family);
  color: white;
  font-size: 100px;
}

.hero-content h1 {
  padding: 0;
  font-size: 300px;
  font-weight: 400;
  animation: move-left 20s linear infinite; /* Adjust duration as needed */
  white-space: nowrap; /* Prevent text from wrapping */
}

@keyframes move-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero .arrow-container {
  position: absolute;
  top: 80%; /* Adjust this value as needed to make the arrow more visible */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Adjust the width of the arrow container */
  height: 50px; /* Adjust the height of the arrow container */
  text-align: center;
}

.hero-location {
  left: 0; /* Position on the far left */
  transform: translateY(-50%);
  width: 300px; /* Adjust width as needed */
  padding: 20px; /* Add padding for content */
  background-color: #222831; /* Black background */
  color: white; /* White text color */
  border-top-right-radius: 50px; /* Curved top right edge */
  border-bottom-right-radius: 50px; /* Curved bottom right edge */
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
}

.hero-location p {
  font-size: 25px; /* Example font size */
  margin-left: 10px; /* Add margin to the left */
  text-align: left;
  padding: 5px 0; /* Adjust padding */
}

.icon-wrapper {
  display: inline-block;
  width: 80px; /* Set the width of the circle */
  height: 80px; /* Set the height of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: #b4b4b8; /* Grey background */
  margin-right: 10px; /* Add some space between the icon and the text */
  display: flex; /* Center the icon vertically */
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent shrinking */
}

.fa-icon {
  animation: rotate 5s linear infinite; /* Rotate animation */
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.about-content {
  width: 100%;
  height: 40%;
  text-align: right;
  font-family: var(--font-family3);
  margin-top: 0;
  padding: 2rem; /* Added padding to create space inside the about-content */
}

.about-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
  color: var(--font-family4);
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h1 {
  flex: 1;
  font-size: 90px;
  line-height: 40px;
  font-weight: 600;
  font-family: var(--font-family5);
  color: rgb(140, 140, 115);
  text-align: right;
  margin-left: 2rem;
  padding-bottom: 2rem;
}

.about-text p {
  flex: 1;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  font-family: var(--font-family5);
  color: #111;
  text-align: right;
  margin-left: 2rem;
}

.about-heading img {
  flex: 1;
  max-width: 45%;
  max-height: 50%;
  border-radius: 20px;
}

.projects-content {
  background: url("../../Assets/struckaxiom.webp");
  width: 100%;
  height: 40%;
  text-align: right;
  font-family: var(--font-family3);
  margin-top: 0;
  padding: 2rem; /* Added padding to create space inside the about-content */
}
